<div class="container-main">
  <div class="container-title">
    <h2>Gerenciar Listas</h2>
    <hr>
  </div>
  <div class="container-body">
    <div class="d-flex">
      <div class="col-md-6">
        <div>
          <h5>Suas listas</h5>
          <div class="ph-container-da-lista">
            <div *ngFor="let item of listasDeTarefas">
              {{item.nomeLista}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h5>Modificar Lista</h5>
        <div class="ph-container-da-visualizacao">
          <app-task-list></app-task-list>
        </div>
      </div>
    </div>
  </div>
</div>

