<div class="page-main-container">
  <div class="page-title-container">
    <h2>Gerenciar Listas</h2>
    <hr>
  </div>
  <div class="page-body-container">
    <div class="col-6 page-section-container">
      <h5>Suas listas</h5>
      <div class="container-areas-listas pe-3">
        <div>
          <mat-selection-list
            #taskList [multiple]="false"
            (selectionChange)="listaSelecionada(taskList)"
            class="ph-container-da-lista"
          >
            <mat-list-option
              *ngFor="let item of listasDeTarefas" [value]="item"
              class="card-lista-titulo"
            >
              <div class="d-flex">
                <mat-icon fontIcon="forest"></mat-icon>
                <span class="ps-4">{{item.nomeLista}}</span>
              </div>
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </div>
    <div class="col-6 page-section-container pe-3">
      <h5>Modificar Lista</h5>
      <div class="ph-container-da-visualizacao">
        <app-task-list [listaDeTarefas]="listaEmVisualizacao"></app-task-list>
      </div>
    </div>
  </div>
</div>

