<div class="container-main">
  <div class="container-title">
    <h2>Gerenciar Listas</h2>
    <hr>
  </div>
  <div class="container-body">
    <div class="d-flex">
      <div class="col-6">
        <div class="container-areas-listas me-2">
          <h5>Suas listas</h5>
          <div>
            <mat-selection-list #taskList [multiple]="false"
              (selectionChange)="listaSelecionada(taskList)"
              class="ph-container-da-lista" >
              <mat-list-option class="card-lista-titulo" *ngFor="let item of listasDeTarefas" [value]="item">
                <div class="d-flex">
                  <mat-icon fontIcon="forest"></mat-icon> <span class="ps-4">{{item.nomeLista}}</span>
                </div>
              </mat-list-option>
            </mat-selection-list>
          </div>
        </div>
      </div>
      <div class="col-6 me-2">
        <h5>Modificar Lista</h5>
        <div class="ph-container-da-visualizacao">
          <app-task-list [listaDeTarefas]="listaEmVisualizacao"></app-task-list>
        </div>
      </div>
    </div>
  </div>
</div>

