<div>
    <div>
        <h3>Adicionar nova lista</h3>
    </div>
    <div [formGroup]="formEditorTaskList!" class="form-group">
        <div>
            <div>
              <label for="inputNomeLista">Nome da Lista</label>
                <input
                  id="inputNomeLista"
                  type="text"
                  formControlName="nomeLista"
                  placeholder="Insira o nome da lista"
                  class="form-control form-control-sm"
                >
            </div>
            <!-- <div>
                //Seletor de ícone para a lista;
            </div> -->
        </div>
    </div>
    <div class="button-container-center">
        <button type="button" class="btn btn-sm btn-success me-1" (click)="salvar()">Confirmar</button>
        <button type="button" class="btn btn-sm btn-danger ms-1" (click)="fecharModal()">Cancelar</button>
    </div>

</div>
