
.task-list-container {
  background-color: #FFF4FF;
  border-radius: 4px;
  padding: 8px;

  box-shadow:
    0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.task-list-scroller-container {
  background-color: aquamarine;
}

.task-item {
  padding: 8px 0;
  align-items: center;
}

.task-item>div {
  padding-left: 8px;
  padding-top: 2px;
  vertical-align: bottom;
}

.adicionar-tarefa-container {
  display: flex;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.adicionar-tarefa-input {
  flex-grow: 1;
}

.adicionar-tarefa-input>input {
  width: 100%;
}
