<div class="card-task-list">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      {{listaDeTarefas?.nomeLista}}
    </mat-expansion-panel-header>
    <div class="task-item" *ngFor="let tarefa of listaDeTarefas?.tarefas">
        <app-task-item #taskList
          [taskItem]="tarefa"
          (removerTaskOutput)="removerTaskDaLista($event)"
        >
        </app-task-item>
    </div>
    <div class="adicionar-tarefa-container">
      <button class="btn btn-success" (click)="adicionarNovaTarefa()">+</button>
      <div class="adicionar-tarefa-input">
        <input type="text" class="ms-1 form-control" placeholder="Aqui vai uma nova tarefa..." [(ngModel)]="novaTarefaNome">
      </div>
    </div>
  </mat-expansion-panel>
</div>
