body {
  background-color: #181818 !important;
}

.page-main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-title-container {
  height: 10vh;
  padding-top: 16px;
  padding-left: 1rem;
  font-weight: bold;
}

.page-body-container {
  height: 90vh;
  display: flex;
  flex-grow: 1;
  padding-left: 1rem;
}

.page-section-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-control-sm {
  padding: .375rem .75rem;
}


body { height: 100vh; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
